/*Universal CSS*/

header {
  background-color: #591902;
}

nav {
  font: Arial, sans-serif;
  color: #591902;
}

body {
  background-color: #EBEDF2;
}

h1 {
  font-family: Arial, sans-serif;
  color: #591902;
}

h2 {
  font-family: Arial, sans-serif;
  color: #591902;
}

p {
  font-family: Garamond, serif;
  color: black;
}

li {
  font-family: Garamond, serif;
  color: black;
}

footer {
  background-color: #BF7960;
}



/*Classes*/

/* IDs*/

/*Specific CSS Features*/